<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mac Helper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Mclass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PeertalkExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D97C69411B28BB6500590068</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D97C69521B28BB6500590068</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9E6186B1B0F8914007AFECB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9E618801B0F8914007AFECB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9E8979E1B1F878300F421E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9E897B31B1F878300F421E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9E897C51B1F88E000F421E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9E897D71B1F88E100F421E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9F5D8D41B28B6E1007BF4D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9F5D8E51B28B6E1007BF4D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9F5D8FF1B28B9D3007BF4D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9F5D9101B28B9D4007BF4D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9F5D9221B28BA78007BF4D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9F5D9331B28BA79007BF4D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
